extends layout

block content
  head 
    link(rel='stylesheet' href='/stylesheets/home.css')

  div(class="home")
    h1 Welcome to UNO
    img(id="deck-img-id" src='/images/1-12.png', alt='Deck' height="300px" width="200px")
    img(id="deck-img-id" src='/images/3-9.png', alt='Deck' height="300px" width="200px")
    img(id="deck-img-id" src='/images/0-8.png', alt='Deck' height="300px" width="200px")

    div(class = "sign-up-button")
      a.btn(href = '/authentication/login') Login and play!

 
    



