
  /* Register */


  
  body {font-family: Arial, Helvetica, sans-serif;} 



  .h1{
    text-align: center;
  }
  
  input[type=username], input[type=password], input[type=emailAdd] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    

  }

  .container {
    padding: 16px;
    width: 50%;
    justify-content: center;
    border: 1px solid #ccc;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    
  }
    
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    display: flex;
    justify-content: center;
  }
  
  button:hover {
    opacity: 0.8;
  }
  

  /* 
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  
  
  span.psw {
    float: right;
    padding-top: 16px;
  } */

body{
    background-color: #f16464;
    justify-content: center;
}



/* .register{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
       
  }
  
  

  .register__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #fcfefd;
    padding: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
  }

  .register__textBox {
    padding: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    
  }
  .register__btn {
    padding: 20px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(248, 194, 78);
    cursor: pointer;
    
  }
  .register__google {
    background-color: #4285f4;
  }
  .register div {
    margin-top: 7px;
  }
   */


/* Navbar */

  /* ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.6rem;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #111;}
  
  ul.topnav li a.active {background-color: #04AA6D;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
  */



  