.container {
  text-align: center;
}

.start-btn {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: rgb(83, 195, 14);
  font-size: 30px;
}

.start-btn:hover {
  background-color: rgb(51, 118, 9);
}
